<p>Hi <%= @user.first_name %>,</p>

<p>Thank you for joining us on www.backhandapp.com!! I hope you will enjoy the app as much as we enjoy building it.</p>

<p>Our goal is to build a community of tennis players as large and inclusive as possible to help players to play more and improve their game!</p>

<p>If you have any feedback about the app feel free to <a href="mailto:hello@backhandapp.com">let me know!</a><br>And if you are in Barcelona, let's play!</p>

<p>Edouard<br>
Just head to my <a href="https://www.backhandapp.com/users/1">profile on Backhand</a> if you want to contact me!</p>

<p>Also, follow us on <a href="https://www.instagram.com/backhandappcom/"></a> Instagram & <a href="https://twitter.com/backhandappcom"></a> Twitter</p>
