.club-container {
  img {
    width: 100%;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 0;
  }
  .main-info {
    color: $black;
    padding: 16px;
    display: flex;
    flex-direction: column;
    .club-phone, .club-website {
      margin-bottom: 12px;
    }
    .club-website, .club-phone, .club-email {
      text-decoration: none;
      color: $black;
      width: fit-content;
    }
  }
  .about {
    color: $black;
    padding: 16px;
    h2 {
      font-size: 20px;
    }
  }
}
