.club-container {
  display: flex;
  flex-direction: column;
  .club-banner {
    height: 300px;
    width: 100%;
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h1 {
    font-size: 24px;
    margin-bottom: 0;
  }
  .wrapper-map {
    padding: 0;
    order: 2;
    #map-show {
      width: 100%;
      height: 300px;
    }
  }
  .main-info {
    color: $black;
    padding: 16px;
    display: flex;
    flex-direction: column;
    .club-phone, .club-website {
      margin-bottom: 12px;
    }
    .club-website, .club-phone, .club-email {
      text-decoration: none;
      color: $black;
      width: fit-content;
    }
  }
  .courts {
    color: $black;
    padding: 16px;
    order: 4;
    h2 {
      font-size: 20px;
    }
  }
}

@media all and (min-width: 992px) {
  .club-container {
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    .club-banner {
      height: 360px;
    }
    h1 {
      font-size: 32px;
    }
    .wrapper-map {
      position: sticky;
      height: calc(100vh - 62px);
      top: 62px;
      margin-top: -400px;
      order: unset;
      #map-show {
        height: 100%;
      }
    }
    .main-info {
      .club-phone, .club-website {
        margin-bottom: 24px;
      }
    }
    .courts {
      order: unset;
    }
  }
}
