.club-container {
  display: flex;
  flex-direction: column;
  .club-banner {
    height: 300px;
    width: 100%;
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h1 {
    font-size: 2.4rem;
    margin-bottom: 0;
  }
  .wrapper-map {
    padding: 0;
    order: 2;
    #map-show {
      width: 100%;
      height: 300px;
    }
  }
  .main-info {
    color: $black;
    padding: 16px;
    display: flex;
    flex-direction: column;
    .club-phone, .club-website {
      margin-bottom: 12px;
    }
    .club-website, .club-phone, .club-email {
      text-decoration: none;
      color: $black;
      width: fit-content;
    }
  }
  .courts {
    color: $black;
    padding: 16px;
    order: 4;
    h2 {
      font-size: 2rem;
    }
  }
}

@media all and (min-width: 992px) {
  .club-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    .club-banner {
      height: 360px;
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }
    h1 {
      font-size: 3.2rem;
    }
    .wrapper-map {
      position: sticky;
      height: calc(100vh - 62px);
      top: 62px;
      grid-column: 3;
      grid-row: 1 / 5;
      #map-show {
        height: 100%;
      }
    }
    .main-info {
      grid-column: 1 / 3;
      grid-row: 3;
      .club-phone, .club-website {
        margin-bottom: 24px;
      }
    }
    .courts {
      grid-column: 1 / 3;
      grid-row: 4;
    }
  }
}
