.save-profile {
  margin-top: 20px;
}

.cancel-account {
  text-align: center;
}

.help-save {
  text-align: center;
  color: $black;
}

.accordion-link {
    width: 100%;
    padding: 18px;
    color: black;
}

.card-header {
  padding: 0;
}

abbr {
  text-decoration: none !important;
}

#collapseFive {
  .card-body {
    .settings-section {
      display: flex;
      flex-direction: column;
      label {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
