.save-profile {
  margin-top: 20px;
}

.cancel-account {
  text-align: center;
}

.help-save {
  text-align: center;
  color: $black;
}

.accordion-link {
    width: 100%;
    padding: 18px;
    color: black;
}

.card-header {
  padding: 0;
}
