.welcome {
  margin-top: 100px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  h1 {
    color: $black;
    font-weight: bold;
  }
  p {
    text-align: center;
    color: $black;
    font-size: 2rem;
  }
  #countdown {
    font-weight: bold;
  }
}
