<div class="footer d-flex flex-column align-items-center justify-content-center text-center">
  <p>
    <span><%= t('footer.tagline_1') %></span>
    <i class="fas fa-heart"></i>
    <span><%= t('footer.tagline_2') %></span>
  </p>
  <p>
    <%= t('footer.email') %>
  </p>
  <p>
    <%= t('footer.copyright') %>
  </p>
</div>
