<div class="footer d-flex flex-column align-items-center justify-content-center text-center">
  <p>Made with <i class="fas fa-heart"></i> in Barcelona</p>
  <p>hello@backhandapp.com</p>
  <p>© Copyright - 2019</p>
</div>
