<nav class="navbar navbar-expand-lg navbar-dark">
  <% if user_signed_in? %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <p class="logo-back">B</p>
      <p class="logo-hand">H</p>
    <% end %>
  <% else %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <p class="logo-back">BACK</p> <p class="logo-hand">HAND</p>
    <% end %>
  <% end %>
  <% if user_signed_in? && current_user.active? %>
    <%= render 'shared/active_menu' %>
  <% else %>
    <%= render 'shared/inactive_menu' %>
  <% end %>
</nav>
