<div class="banner">
  <div class="banner-content">
    <h1>Find tennis players<br>around you<br>right now!</h1>
  </div>
</div>


<div class="main-container">

  <div class="container text-left">
    <br>

      <%= simple_form_for :search, url: users_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string" type="text" name="search[]" id="search_query" />
            <button name="button" type="submit" id="button-inside" class="btn btn-flat align-middle">
              Search
            </button>
        </div>
      <% end %>
  </div>
</div>
