<div class="banner">
  <div class="banner-content">
    <h1>Challenge tennis players anywhere!</h1>
    <p>... and get your unique international ranking!</p>
  </div>
</div>


<div class="main-container">
  <div class="container text-left">
      <%= simple_form_for :search_home, url: users_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string" type="text" name="search[]" id="search_query" placeholder="Search for a place!" />
        </div>
          <button name="button" type="submit" class="btn btn-flat main-cta">
            Search
          </button>
      <% end %>

      <div class="row how-it-works">
        <h2>How it works</h2>
        <div class="explain-card">
          <div class="card-number">
            <p>01</p>
          </div>
          <div class="card-content">
            <p>search and browse player around you</p>
          </div>
        </div>
        <i class="fas fa-angle-down"></i>
        <div class="explain-card">
          <div class="card-number">
            <p>02</p>
          </div>
          <div class="card-content">
            <p>view player's profiles and challenge them</p>
          </div>
        </div>
        <i class="fas fa-angle-down"></i>
        <div class="explain-card">
          <div class="card-number">
            <p>03</p>
          </div>
          <div class="card-content">
            <p>organize your game and play!</p>
          </div>
        </div>
    </div>
  </div>
</div>
