<div class="banner">
  <div class="banner-content">
    <h1>Find tennis players<br>around you<br>right now!</h1>
  </div>
</div>


<div class="main-container">

  <div class="container text-left">
    <br>
  <%#= simple_form_for :search, url: dresses_path, method: "get" do |f| %>
      <%#= f.input :where, as: :string, required: false, input_html: {class: "form-control"}%>
      <%#= f.input :size, required: false, collection: ['XS','S','M','L','XL'], input_html: {class: "form-control"} %>
      <%#= f.button :submit, "Search", class: "btn btn-primary btn-lg w-100" %>
    <%# end %>

    <p>LOCATION</p>
    <br>
    <p>PARTNER LEVEL</p>
    <%= link_to "Search", new_user_session_path, class: "btn btn-primary btn-lg w-100" %>
    <%#= link_to "Sign up", new_user_registration_path, class: "btn btn-danger" %>
  </div>
</div>


