<div class="banner">
  <div class="banner-content">
    <h1>Challenge tennis players anywhere!</h1>
    <p>... and get your unique international ranking!</p>
  </div>
</div>


<div class="main-container">

  <div class="container text-left">
    <br>

      <%= simple_form_for :search, url: users_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string" type="text" name="search[]" id="search_query" placeholder="Search for a place or a player!" />
        </div>
          <button name="button" type="submit" class="btn btn-flat main-cta">
            Search
          </button>
      <% end %>
  </div>
</div>
