
<div class="banner">
  <div class="banner-content">
    <h1>Find tennis players<br>around you<br>right now!</h1>
  </div>
</div>


<div class="main-container">

  <div class="container text-left">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb ind me in ap ind me in ap ind me in ap ind me in ap ind me in ap ind me in ap ind me in ap ind me in ap ind me in ap ind me in ap ind me in ap ind me in ap</p>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger" %>
  </div>
</div>

