<div class="container">
  <div class="welcome">
    <h1>
      <%= t('.title', current_user: current_user.first_name.capitalize ) %>
    </h1>
    <p>
      <%= t('.first_p_html') %>
    </p>
    <p>
      <%= t('.second_p_html') %>
    </p>
  </div>
</div>

