<div class="container">
  <div class="welcome">
    <h1>
      <%= t('.title', current_user: current_user.first_name.titleize ) %>
    </h1>
    <p>
      <%= t('.first_p_html') %>
    </p>
    <p>
      <a href="/"><%= t('.home_link') %></a>
    </p>
  </div>
</div>

