<div class="error-container">
  <div class="error-message">
    <h1>404</h1>
    <p>
      <%= t('.first_p') %>
    </p>
    <p>
      <%= t('.second_p') %>
    </p>
    <p>
      <%= t('.third_p_html') %>
    </p>
  </div>
</div>
