<div class="error-container">
  <div class="error-message">
    <h1>404</h1>
    <p>No, you cannot jump over the net and play a shot there... 🤪</p>
    <p>More seriously, it seems that something was wrong with your request. If you are sure of what you were doing, let us know! </p>
    <p>At your service,<br>The Backhand Team</p>
  </div>
</div>
