function removeAdd() {
  var addLink = document.querySelector('.favorite');
  var id = addLink.getAttribute('data-user-id');
  addLink.innerHTML = `<a data-remote="true" rel="nofollow" data-method="delete" href="/es/favorite_players/${id}"><i id="fav-star" class="fas fa-star"></i></a>`;
}

removeAdd();
