function removeRemove() {
  var addLink = document.querySelector('.favorite')
  if (addLink) {
    addLink.innerHTML = "";
    addLink.innerHTML = `<a data-remote="true" rel="nofollow" data-method="post" href="/es/favorite_players?id=336"><i id="fav-star" class="far fa-star go-yellow"></i></a>`;
  }
}

removeRemove();
