<div class="challenge-info text-center text-dark pt-3 pb-5">
  <h2>You have accepted<br>
    <%= link_to @challenger.first_name, user_path(@challenger) %>'s challenge.
  </h2>
  <h2>
    Get in touch now! <%= @challengee.phone_number %>
  </h2>

</div>

<p><%= link_to "Cancel Challenge", cancel_challenge_path(@challenge), :method => :patch, :data => {:confirm => "Do your really want to cancel the Challenge?"}%></p>



