<!-- <div class="challenge-pres">
  <h1><%#= @challenger.first_name %> vs <%#= @challengee.first_name %></h1>
</div> -->

<div class="challenge-info">
  <h2 class="waiting-message text-center text-dark pt-3 pb-5">Waiting for an<br> answer from<br><%= @challengee.first_name %> </h2>
<p class="text-center"><%= link_to "Decline Challenge", decline_challenge_path(@challenge), :method => :patch, :data => {:confirm => "Do your really want to decline the Challenge?"}, class: "btn w-100 text-center" %></p>
<p><%= link_to "Challenge another Player", users_path , :method => :get, :data => {:confirm => "Would you like to challenge another player?"}, class: "btn btn-primary w-100" %></p>
</div>

