<div class="challenge-info text-dark">
  <h2>Great, now contact<br>
    <%= link_to @challenger.first_name, user_path(@challenger) %>!
  </h2>
  <%= link_to "Cancel Challenge", cancel_challenge_path(@challenge), :method => :patch, :data => {:confirm => "Do your really want to cancel the Challenge?"}, class: "btn w-100 text-center" %>
  <h3 class="phone_number">
    <%= @challengee.phone_number %>
  </h3>
</div>




