<% @challenges.each do |challenge| %>
<p>Player: <%= challenge.challenger_id %> vs Player: <%= challenge.challengee_id %></p>
 <p>Status: <%= challenge.status %></p>
 <p> <%= link_to "show more", challenge_path(challenge), :method => :get  %></p>
<br>
<% end %>


