.alert {
  position: fixed;
  bottom: 16px;
  right: calc(50% - 200px);
  left: calc(50% - 200px);
  z-index: 1000;
  max-width: 400px;
}

.alert-info {
  background-color: $yellow;
  border-color: $yellow;
  color: $black;
}

@media all and (max-width: 576px) {
  .alert {
    right: 0;
    left: 0;
    max-width: 100%;
    margin: 0 16px !important;
  }
}
