// This is for "going back" to previous views below navbar"

.back-section {
  display: flex;
  justify-content: center;
}

.back-section-space {
  display: flex;
  justify-content: space-between;
}

.back-link {
  font-size: 16px;
  color: $gray;
  margin-bottom: 16px;
}

.back-link:hover {
  text-decoration: none;
}
