.banner{
  height: calc(100vh - 56px);
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), image-url("backhand-banner.jpg");
  background-size: cover;
  width: 100vw;
  position: relative;
  background-position-x: 50%;
  .banner-content {
    position: absolute;
    bottom: 48px;
    left: 16px;
    h1 {
      color: white;
      font-weight: bold;
      font-style: italic;
      margin-bottom: 16px;
    }
    #home-cta, #tell-your-friends {
      border-radius: 30px;
      font-size: 16px;
      border: 2px solid $white;
      padding: 12px 40px;
    }
  }
}

@media all and (min-width: 576px) {
  .banner {
    .banner-content {
      bottom: 160px;
      left: 80px;
      h1 {
        font-size: 4rem;
      }
    }
    #home-cta, #tell-your-friends {
      border-radius: 38px;
      font-size: 24px;
      border: 2px solid $white;
      padding: 16px 48px;
    }
  }
}
