.banner{
  height: 60vh;
  background-image: image-url("backhand-banner.jpg");
  background-size: cover;
  width: 100vw;
  position: relative;
  background-position: 94% 50%;

  h1 {
    color: white;
    font-weight: bold;
    font-size: 38px;
    margin-left: 25px;
    position: relative;
    bottom: 40px;
  }
  p {
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin-left: 25px;
    position: absolute;
    bottom: 50px;
  }
}
