.cta-back {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 80px;
  background-color: white;
  vertical-align: middle;
  z-index: 3;
  .cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 70%;
    font-size: 20px;
  }
}

@media all and (min-width: 768px) {
  .cta-back {
    .cta-button {
    width: 50%;
    }
  }
}

.cta-home {
  width: 100%;
  font-size: 20px;
}

.cta-signup {
  width: 100%;
  font-size: 24px;
  margin-top: 1em;
  font-variant: small-caps;
}

.cta-next {
  width: 100%;
  font-size: 24px;
  margin-top: 1em;
  font-variant: small-caps;
  margin-bottom: 1em;
}

// styling for pop-up modal when challenging player

.modal-body {
  p {
  color: $black;
  }
}

.white-bt a {
  color: white;
}
