.mdc-fab {
  background-color: $blue;
}

#whatsapp-button {
  i {
    font-size: 30px;
  }
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.b-90 {
  bottom: 90px;
}

.b-160 {
  bottom: 160px;
}

.b-230 {
  bottom: 230px;
}

.cta-back-unique {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  z-index: 3;
  background-color: $white;
  height: 80px;
  position: fixed;
  width: 100%;
  right: calc(50% - 300px);
  left: calc(50% - 300px);
  bottom: 0px;
  left: 0px;
  right: 0px;
  .btn-flat, .cta-next {
    width: 90%;
  }
}

.cta-back-two-ctas {
  display: flex;
  align-items: center;
  vertical-align: middle;
  z-index: 3;
  background-color: $white;
  height: 80px;
  position: fixed;
  width: 100%;
  right: calc(50% - 300px);
  left: calc(50% - 300px);
  bottom: 0px;
  left: 0px;
  right: 0px;
  .cta-contact-button, .cta-save-review {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 16px 0 8px;
    font-size: 20px;
    font-variant: small-caps;
    padding: 4px 24px 8px 24px;
  }
  .cta-review-button, .cta-back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    color: $blue;
    width: 50%;
    margin: 0 8px 0 16px;
    font-size: 20px;
    font-variant: small-caps;
    border: solid 1px $blue;
    padding: 4px 24px 8px 24px;
    &:hover {
      background-color: $white;
      color: $blue;
    }
  }
}

.add-player, .remove-player {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $blue;
  }
  i {
    display: flex;
    align-items: center;
    span {
      font-family: "Lato";
      font-size: 16px;
      margin-left: 8px;
      color: $gray;
    }
  }
}

.remove-player {
  color: #ffad63;
}

.add-remove-players {
  display: flex;
  justify-content: space-between;
}


@media all and (min-width: 768px) {
  .cta-back-two-ctas, .cta-back-unique {
    max-width: 600px;
    right: calc(50% - 300px);
    left: calc(50% - 300px);
  }
}

.cta-home {
  width: 100%;
  font-size: 20px;
}

.cta-signup {
  width: 100%;
  font-size: 24px;
  margin-top: 1em;
  font-variant: small-caps;
}

.cta-next {
  width: 100%;
  font-size: 24px;
  margin-top: 1em;
  font-variant: small-caps;
  margin-bottom: 1em;
}
