.no-callouts {
  text-align: center;
  color: $black;
  position: absolute;
  width: 300px;
  left: calc(50% - 150px);
  top: 50%;
}

@mixin callout-link {
  width: 100%;
  text-align: center;
  padding: 8px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-decoration: none;
  border-color: #0095FF;
  a {
    color: $white;
    text-decoration: none;
  }
}

.callout-card {
  width: 100%;
  max-width: 500px;
  position: relative;
  margin: 0 auto 16px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 4px;
  border-bottom: none;
  .callout-info {
    padding: 16px;
    a {
      text-decoration: none;
        .callout-user {
        display: flex;
        margin-bottom: 12px;
        align-items: flex-start;
        img {
          margin-right: 12px;
        }
        .name-info {
          display: flex;
          flex-direction: column;
          margin-top: -6px;
          .name {
            font-size: 20px;
            color: $black;
          }
          .club {
            font-size: 12px;
            color: $gray;
          }
          .more-info {
            margin-top: -6px;
            .level-style {
              font-size: 12px;
            }
          }
          .points {
            position: unset;
            background-color: unset;
            padding: 0;
            display: flex;
            font-size: 12px;
            color: $light-gray;
          }
        }
      }
    }
    .created-ago {
      position: absolute;
      top: 16px;
      right: 16px;
      font-size: 14px;
    }
    p {
      margin: 0 0 0 52px;
      color: $black;
    }
  }
  .callout-link-blue {
    @include callout-link
    background-color: $blue;
  }
  .callout-link-red {
    @include callout-link
    background-color: $red;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  .callout-link-yellow {
    @include callout-link
    background-color: $yellow;
    a {
      color: $black;
    }
  }
  .callout-grey {
    @include callout-link
    background-color: $gray;
    color: $white;
  }
}

