.back {
  font-size: 12px;
  color: $black;
  margin-bottom: 20px;
}

.show {
  height: 2000px;
}

.pic-b {
  position: relative;
  height: 240px;
  background-size: cover;
  .img-b {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 240px;
    width: 100%;
    object-fit: cover;
  }
}

.ranking-b {
  position: absolute;
  display: flex;
  align-items: baseline;
  color: $black;
  font-weight: bold;
  font-size: 16px;
  background-color: $gray;
  // width: 70px;
  right: 0px;
  bottom: 0px;
  border-top-left-radius: 5px;
  padding-right: 6px;
  padding-left: 6px;
  .rank-b {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-left: 3px;
    color: white;
    text-shadow: 0.5px 0.5px 2px black;
  }
}

.ranking-b-left {
  position: absolute;
  display: flex;
  align-items: baseline;
  color: $black;
  font-weight: bold;
  font-size: 16px;
  background-color: $gray;
  // width: 70px;
  left: 0px;
  bottom: 0px;
  border-top-right-radius: 5px;
  padding-right: 6px;
  padding-left: 6px;
  .rank-b-left {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-left: 3px;
    color: white;
    text-shadow: 0.5px 0.5px 2px black;
  }
}
.name-flag-b {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px;
  margin-bottom: 0;
  h2 {
    color: $black;
    font-size: 32px;
    font-weight: bold;
  }
  .flag-b {
    height: 26px;
    width: 45px;
  }
}

.skills-b {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  margin-top: 0;
}

.blue-box-b {
  margin: 0 3px 8px 0;
  background-color: $blue;
  color: white;
  font-size: 16px;
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

.group-progress-strokes {
  margin-top: 30px;
}

.group-progress-fitness {
  margin-top: 20px;
}

.line-progress-b {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  p {
    color: $black;
    font-size: 16px;
    margin: 4px;
  }
}


.progress {
  height: 0.4em;
  background-color: $gray;
  width: 180px;
}


.skills {
  background-color: $light-gray;
  margin: 0px 10px;
  padding: 0;

  h3 {
  font-size: 24;
  color: $black;
  margin-left: 10px;
  margin-top: 20px;
  }
}

.strokes {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}


.fitness {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.vertical {
  font-size: 16px;
  color: $gray;
  transform: rotate(270deg);
  margin: 0;
  p {
    margin: 0 !important;
  }
}

.rankings {
  margin-left: 10px;
  margin-right: 10px;
  color: $black;
}

.wr {
  display: flex;
  justify-content: space-between;
}


.stats {
  display: flex;
}

// .thumb {
//   display: flex;
//   justify-content: flex-end;
//   align-items: flex-end;
//   align-items: baseline;
//   margin-top: 30px;
//   margin-right: 10px;
//   font-size: 14px;
//   color: $black;
// }

// .font {
//   font-family: 'Lato';
// }
