// challenges dashboard page
.link-challenge {
    text-decoration: none;
}

.link-challenge:hover {
  text-decoration: none;
}


.challenge-card {
  position: relative;
  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
  .avatar {
    margin-left: 8px;
  }
  .date {
    font-size: 14px;
  }
  .fa-arrow-up {
    transform: rotate(45deg);
    position: absolute;
    margin: -22px 0px 0px -18px;
    font-size: 14px;
    color: $gray;
  }
  .fa-arrow-down {
    transform: rotate(-45deg);
    position: absolute;
    margin: -22px 0px 0px -18px;
    font-size: 14px;
    color: $gray;
  }
}

.status-arrow {
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .fa-angle-right {
    font-size: 16px;
    margin-top: 4px;
  }
}

.name-and-date {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 16px;
  .player-name {
    color: $black;
  }
  .date {
    color: $gray;
  }
}

.vs-container {
  display: flex;
  justify-content: center;

  // position: relative;
}
