.container {
  margin-top: 15px;
}

.events-container {
  margin-bottom: 150px;
}

.clubs-container {
  padding: 12px 8px;
}

.callouts-container {
  margin-top: 16px;
  padding: 0 16px;
  min-height: calc(100vh - 78px);
}

@media all and (min-width: 768px) {
  .container {
    max-width: 600px;
    position: relative;
  }
  .container-index {
    max-width: 900px;
  }
  .clubs-container {
    padding: 16px;
  }
  .callouts-container {
    max-width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-container {
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

