.container {
  margin-top: 15px;
}

@media all and (min-width: 768px) {
  .container {
    max-width: 600px;
  }
  .container-index {
    max-width: 900px;
  }
}

.main-container {
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

