.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 32px 0px;
  h2 {
    font-family: $headers-font;
    color: $black;
    font-weight: bold;
  }
}

.explain-card {
  height: 100px;
  width: 295px;
  margin: 16px 0px;
  display: flex;
}

.card-number {
  display: flex;
  background-color: $blue;
  color: white;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 4px 0px 0px 4px;
  p {
    margin: 0;
  }
}

.card-content {
  display: flex;
  background-color: $blue;
  color: $black;
  background-color: $light-gray;
  width: 245px;
  align-items: center;
  justify-content: center;
  border-radius: 0px 4px 4px 0px;
  p {
    margin: 0;
    text-align: center;
    padding: 0 16px;
  }
}

// /* step-one */

// position: absolute;
// width: 295px;
// height: 100px;
// left: 41px;
// top: 692px;



// /* Rectangle 4 */

// position: absolute;
// width: 245px;
// height: 100px;
// left: 91px;
// top: 692px;

// background: #F4F4F4;
// border-radius: 0px 4px 4px 0px;


// /* Rectangle 5 */

// position: absolute;
// width: 50px;
// height: 100px;
// left: 41px;
// top: 692px;

// background: #00A0FF;
// border-radius: 4px 0px 0px 4px;


// /* 01 */

// position: absolute;
// width: 20px;
// height: 20px;
// left: 56px;
// top: 732px;

// font-family: Lato;
// font-style: normal;
// font-weight: bold;
// font-size: 16px;
// line-height: 19px;
// /* identical to box height */
// display: flex;
// align-items: center;
// text-align: center;

// color: #FFFFFF;



// /* Search and browse players around you */

// position: absolute;
// width: 207px;
// height: 50px;
// left: 110px;
// top: 717px;

// font-family: Lato;
// font-style: normal;
// font-weight: normal;
// font-size: 16px;
// line-height: 150%;
// /* or 24px */
// display: flex;
// align-items: center;
// text-align: center;

// color: #000000;

