.how-it-works {
  padding: 50px;
  h2 {
    font-family: $headers-font;
    color: $black;
    font-weight: bold;
    text-align: center;
  }
  .how-it-works-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 32px 0px;
  }
}

.explain-card {
  height: 100px;
  width: 295px;
  margin: 16px 0px;
  display: flex;
}

.card-number {
  display: flex;
  background-color: $blue;
  color: white;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 4px 0px 0px 4px;
  p {
    margin: 0;
  }
}

.card-content {
  display: flex;
  background-color: $blue;
  color: $black;
  background-color: $light-gray;
  width: 245px;
  align-items: center;
  justify-content: center;
  border-radius: 0px 4px 4px 0px;
  p {
    margin: 0;
    text-align: center;
    padding: 0 16px;
  }
}
