.form-login {
  background: white;
  padding-top: 20px;
  margin-top: 50px;
  h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: $black;
    margin-bottom: 25px;
  }
  .btn {
    margin-top: 50px;
  }
}

.form-label {
  color: $black;
  font-size: 16px;
}


.text-foot {
  color: $black;
  text-align: center;
  font-size: 16px;
  p {
    display: inline;
  }
}

.log {
  color: $black !important;
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
   p {
    display: inline;
  }
}
