.navbar-bh {
  justify-content: space-between;
  background: $black;
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 99;
}

.navbar-bh .navbar-collapse {
  flex-grow: 0;
}



.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 24px;
  .logo-back {
    color: $blue;
    font-weight: bold;
    margin: 0;
  }
  .logo-hand {
    color: white;
    font-style: italic;
    margin: 0;
  }
}

