.navbar-toggler {
  border: none;
  padding: 0;
}

.navbar {
  background: $black;
  position: sticky;
  top: 0;
  z-index: 100;
  .navbar-nav {
    .nav-link {
      color: white;
    }
  }
}

.navbar-brand {
  display: flex;
  font-size: 24px;
  .logo-back {
    color: $blue;
    font-weight: bold;
    margin: 0;
  }
  .logo-hand {
    color: white;
    font-style: italic;
    margin: 0;
  }
}

.login-up {
  display: flex;
  .nav-link {
    padding-right: 0;
  }
}
