.navbar-toggler {
  border: none;
  padding: 0;
  outline: none;
  &:focus {
      outline: none;
    }
  img {
    &:focus {
      outline: none;
    }
  }
}

.see-more-menu, .language-menu {
  color: white !important;
  font-size: 1rem;
  margin-left: 12px;
}

.navbar {
  background: black;
  position: sticky;
  top: 0;
  z-index: 100;
  .navbar-nav {
    .nav-link {
      color: white;
      span {
        position: relative;
      }
    }
  }
  .language-more {
    display: flex;
  }
}

.navbar-brand {
  display: flex;
  font-size: 24px;
  .logo-back {
    color: $blue;
    font-weight: bold;
    font-style: italic;
    margin: 0;
  }
  .logo-hand {
    color: white;
    font-style: italic;
    margin: 0;
  }
}

.login-up {
  display: flex;
  .nav-link {
    padding-right: 0;
  }
}

.matches-notifications {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 57%;
  color: $black;
  background-color: $yellow;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: -10px;
  font-family: 'Saira Extra Condensed', sans-serif;
}

.nav-points-ranking {
  align-self: flex-end;
  margin-right: 8px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

.dropdown-menu {
  .nav-link {
    color: $black !important;
  }
}

.dropdown-menu {
  right: 0;
  left: unset;
  .nav-link {
    .flag-icon {
      margin-right: 8px;
    }
  }
}

.dropdown-toggle {
  padding: 0 !important;
  &:after {
    display: none;
  }
}


@media all and (min-width: 768px) {
  .nav-points-ranking {
    text-align: left;
    margin-left: 8px;
  }
}
