.imagePreview {
  width: 160px;
  height: 160px;
  background-position: center center;
  background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
  background-color:#fff;
  background-size: cover;
  background-repeat:no-repeat;
  display: inline-block;
  margin-left: 96px;
}
.upload {
  display:block;
  width: 160px;
  height: 60px;
  margin-top: -5px;
  margin-left: 96px;
}
.imgUp {
  margin-bottom:15px;
}
