.stroke-fitness-review {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .form-group {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    input {
      width: 100%;
    }
    label {
      font-variant: small-caps;
      text-align: right;
      margin: 0 0 2px 0;
    }
  }
  .given-score {
    width: 30px;
    text-align: center;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: $black;
    font-size: 2rem;
    margin-right: 8px;
  }
}

@media all and (min-width: 768px) {
  .form-group {
    label {
      font-size: 2rem;
    }
  }
}

.user-review-step1 {
  textarea {
    height: 100px;
  }
  legend, .user-comment {
    color: $black;
  }
}

.user-review-step2, .user-review-step3 {
  p {
    color: $black;
    text-align: center;
  }
}
