.hidden {
  display: none;
}

.fas {
  font-size: 2.6rem;
}

.new-feature {
  position: relative;
  &:after {
    content: "new!";
    display: block;
    position: absolute;
    left: 32px;
    top: -2px;
    background-color: #dcff1c;
    border-radius: 5px;
    padding: 0px 4px;
    font-size: 1.2rem;
    color: black;
  }
}

@media all and (min-width: 992px) {
  .new-feature {
    position: relative;
    &:after {
      left: unset;
      right: -16px;
    }
  }
}
