.hidden {
  display: none;
}

.player-infos {
  margin-left: 10px;
  margin-right: 10px;
  height: 250px;
}

.player-bio {
  margin-left: 10px;
  margin-right: 10px;
  height: 250px;
}

#fix-top{
  position: sticky;
  height: 50px;
  top: 56px;
  z-index: 99;
  background: #ededed;
}

#played{
  height: 80vh;
}
