#level-slider {
  margin-top: 60px;
  .noUi-connect {
    background-color: $blue;
  }
  .noUi-tooltip {
    font-family: 'Saira Extra Condensed', sans-serif;
    border: none;
  }
  .noUi-handle {
    outline: none;
    &:focus {
      outline:none;
    }
  }
}

.callout_minimum_level, .callout_maximum_level {
  height: 0px;
  visibility: hidden;
}
